<section class="displayer">

	<h2 class="average"><b class="temperature"></b></h2>

	<section class="metrics">
		<button name="fahrenheit"> Fº</button>
		<button name="celsius" >   Cº</button>
		<input  name="savingMode" type="checkbox" checked="true">savingMode
	</section>

	<section class="controls">
		<button name="reset_display" >Set Default</button>
		<button name="increase" >&#8593;</button>
		<button name="decrease" >&#8595;</button>
	</section>

</section>
