<section class="displayer">

<p class="temperature"></p>

<button class="celsius"    value="Celsius">Cº</button>
<button class="fahrenheit" value="Fahrenheit">Fº</button>

<input type="checkbox" value="Saving Mode">
<button class="reset_display" value="Set Default">Set Default</button>

<button class="increase" value="increase">&#8593;</button>
<button class="decrease" value="decrease">&#8595;</button>
</section>