<section class="displayer">

<aside class="temperature">20</aside>

<button class="celsius" value="Celsius"></button>
<button class="fahrenheit" value="Fahrenheit"></button>

<input type="checkbox" value="Saving Mode">

<button class="increase">&#8593;</button>
<button class="increase">&#8595;</button>
</section>