<section class="displayer">

<h2><b class="temperature"></b></h2>

<button name="fahrenheit"    >Fº</button>
<button name="celsius" >Cº</button>

<input  name="savingMode" type="checkbox" checked="true">
<button name="reset_display" >Set Default</button>

<button name="increase" >&#8593;</button>
<button name="decrease" >&#8595;</button>
</section>